    {% load static %}
    <!----navbar--------->
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-4">
        <div class="container">
            <a class="navbar-brand d-flex justify-content-between align-items-center order-lg-0" 
            href="{% url 'home' %}">
                <img src="{% static 'images/pngegg.png' %}" alt="logo image">
                <span class="brand-name ms-2">InfiniteGoods</span>
            </a>
                <div class="row">
                    <div class="col mx-auto">
                        <div class="input-group">
                            <input class="form-control border-end-0 border rounded-pill" type="search" placeholder="search"id="example-search-input">
                            <span class="input-group-append">
                                <button class="btn btn-outline-dark bg-white border-bottom-0 border rounded-pill ms-1" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            <div class="order-lg-2">
                <a href="{% url 'cart' %}" type="button" class="btn cart-button position-relative">
                    <i class="fa fa-shopping-cart py-2"></i>
                    <span class="cart-number position-absolute start-95 translate-middle badge bg-primary">{{cart_count}}</span>
                </a>
            </div>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse order-lg-1" id="navMenu">
                <ul class="navbar-nav mx-auto text-center">
                    <li class="nav-item px-2 py-2">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item px-2 py-2">
                        <a class="nav-link" href="{% url 'shop' %}">Shop</a>
                    </li>
                    <li class="nav-item px-2 py-2">
                        <a class="nav-link" href="./index.html">About</a>
                    </li>
                    <li class="nav-item px-2 py-2">
                        <a class="nav-link" href="./login.html">Login</a>
                    </li>
                    <li class="nav-item px-2 py-2">
                        <a class="nav-link" href="./register.html">Register</a>
                    </li>
                    <li class="nav-item px-2 py-2">
                    
                    <div class="dropdown">
                        <button  class="btn btn-outline-dark dropdown-toggle ms-2" type="button" 
                        id="dropdownMenuButton1" data-bs-toggle="dropdown" 
                        aria-expanded="false">
                        <i class="fa-solid fa-list me-2"></i> Categories
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="{% url 'shop' %}">All Products</a></li>
                            {% for category in links %}
                                <li><a class="dropdown-item" href="{{ category.get_url }}">{{ category.category_name }}</a></li>
                            {% endfor %}
                        </ul>
                      </div>
                      </li>
                </ul>
            </div>
            
        </div>  
    </nav>
    <!----end of navbar-->