<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InfiniteGoods</title>

    <!----------Font-awsome cdn -------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!---------- Bootstrap ------------->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!----------- jquery   ------------->
    <script src="jquery-3.7.1.min.js"></script>
    <!----------Custom Css ------------->
    <link rel="stylesheet" href="css/main.css">

    <!----------Favicon ---------------->
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="manifest" href="images/favicon/site.webmanifest">

</head>
<body>
    <!----navbar--------->
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-4">
        <div class="container">
            <a class="navbar-brand d-flex justify-content-between align-items-center order-lg-0" 
            href="index.html">
                <img src="images/pngegg.png" alt="logo image">
                <span class="brand-name ms-2">InfiniteGoods</span>
            </a>
                <div class="row">
                    <div class="col mx-auto">
                        <div class="input-group">
                            <input class="form-control border-end-0 border rounded-pill" type="search" placeholder="search"id="example-search-input">
                            <span class="">
                                <button class="btn btn-outline-dark bg-white border-bottom-0 border rounded-pill ms-1" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            <div class="order-lg-2">
                <button type="button" class="btn cart-button position-relative">
                    <i class="fa fa-shopping-cart py-2"></i>
                    <span class="cart-number position-absolute start-95 translate-middle badge bg-primary">0</span>
                </button>
            </div>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse order-lg-1" id="navMenu">
                <ul class="navbar-nav mx-auto text-center">
                    <li class="nav-item px-2 py-2">
                        <a class="nav-link" href="./index.html">Home</a>
                    </li>
                    <li class="nav-item px-2 py-2">
                        <a class="nav-link" href="./store.html">Shop</a>
                    </li>
                    <li class="nav-item px-2 py-2">
                        <a class="nav-link" href="./index.html">About</a>
                    </li>
                    <li class="nav-item px-2 py-2">
                        <a class="nav-link" href="./login.html">Login</a>
                    </li>
                    <li class="nav-item px-2 py-2">
                        <a class="nav-link" href="./register.html">Register</a>
                    </li>
                    <li class="nav-item px-2 py-2">
                    
                    <div class="dropdown">
                        <button  class="btn btn-outline-dark dropdown-toggle ms-2" type="button" 
                        id="dropdownMenuButton1" data-bs-toggle="dropdown" 
                        aria-expanded="false">
                        <i class="fa-solid fa-list me-2"></i> Categories
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Clothes</a></li>
                            <li><a class="dropdown-item" href="#">Electronic Devices</a></li>
                            <li><a class="dropdown-item" href="#">Beauty & Personal Care</a></li>
                            <li><a class="dropdown-item" href="#">Machinery</a></li>
                            <li><a class="dropdown-item" href="#">Home equipments</a></li>
                        </ul>
                      </div>
                      </li>
                </ul>
            </div>
            
        </div>  
    </nav>
    <!----end of navbar-->
    

    <section class="section-content py-4 mb-5">
        <div class="container">
        
        <!-- ============================ COMPONENT 1 ================================= -->
        <div class="container-fluid">
            <div class="row">
                <aside class="col-lg-9">
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table table-borderless table-shopping-cart">
                                <thead class="text-muted">
                                    <tr class="small text-uppercase">
                                        <th scope="col">Product</th>
                                        <th scope="col" width="150">Quantity</th>
                                        <th scope="col" width="150">Price</th>
                                        <th scope="col" class="text-right" width="200">Actions</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    <tr>
                                        <td>
                                            <figure class="itemside align-items-center">
                                                <div class="aside">
                                                    <img src="images/items/2.jpg" class="img-thumbnail img-fluid" style="max-width: 80px;">
                                                </div>
                                                <figcaption class="info">
                                                    <a href="#" class="product-link title text-dark" data-abc="true">Flower Formal T-shirt</a>
                                                    <p class="text-muted small">SIZE: L <br> Brand: ADDA </p>
                                                </figcaption>
                                            </figure>
                                        </td>
                                        <td> <select class="form-control mt-4">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                            </select> </td>
                                        <td>
                                            <div class="price-wrap mt-4"> <var class="price">$10.00</var> <small class="text-muted"> $9.20 each </small> </div>
                                        </td>
                                        <td class="text-right">  <a href="" class="btn btn-danger btn-round mt-4" data-abc="true"> Remove</a> </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <figure class="itemside align-items-center">
                                                <div class="aside">
                                                    <img src="images/items/1.jpg" class="img-thumbnail img-fluid" style="max-width: 80px;">
                                                </div>
                                                <figcaption class="info">
                                                    <a href="#" class="product-link title text-dark" data-abc="true">Flower Formal T-shirt</a>
                                                    <p class="text-muted small">SIZE: L <br> Brand: ADDA </p>
                                                </figcaption>
                                            </figure>
                                        </td>
                                        
                                        <td> <select class="form-control mt-4">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                            </select> </td>
                                        <td>
                                            <div class="price-wrap mt-4"> <var class="price">$15</var> <small class="text-muted"> $12 each </small> </div>
                                        </td>
                                        <td class="text-right">  <a href="" class="btn btn-danger btn-round mt-4" data-abc="true"> Remove</a> </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <figure class="itemside align-items-center">
                                                <div class="aside">
                                                    <img src="images/items/3.jpg" class="img-thumbnail img-fluid" style="max-width: 80px;">
                                                </div>
                                                <figcaption class="info">
                                                    <a href="#" class="product-link title text-dark" data-abc="true">Flower Formal T-shirt</a>
                                                    <p class="text-muted small">SIZE: L <br> Brand: ADDA </p>
                                                </figcaption>
                                            </figure>
                                        </td>
                                        <td> <select class="form-control mt-4">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select> </td>
                                        <td>
                                            <div class="price-wrap mt-4"> <var class="price">$9</var> <small class="text-muted"> $6 each</small> </div>
                                        </td>
                                        <td class="text-right">  <a href="" class="btn btn-danger btn-round mt-4" data-abc="true"> Remove</a> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </aside>
                <aside class="col-lg-3 mt-4">
                    <div class="card">
                        <div class="card-body">
                            <dl >
                                <dd><span class="text-muted">Total Price:</span> $69.97</dd>
                            </dl>
                            <dl >
                                <dd><span class="text-muted">Discount:</span> <span class="text-right text-danger"> -$10.00 </span></dd>
                            </dl>
                            <dl>
                                <dd class="text-dark b"><strong><span class="text-muted">Total:</span> $59.97</strong></dd>
                            </dl>
                            <hr>
                            <p class="text-center mb-3">
                                <img src="./images/misc/payments.png" height="26">
                            </p>
                            <div class="d-grid gap-2">
                            <a href="./order.html" class="btn btn-dark"> Check out </a>
                            <a href="./store.html" class="btn btn-out btn-success btn-square btn-main mt-2" data-abc="true">Continue Shopping</a>
                            </div>
                        </div> <!-- card-body.// -->
                    </div> <!-- card.// -->
                </aside>
            </div>
            
        </div>
    </section>
            <!---Footer---->
        <section class="footer-bottom border-top row">
			<div class="col-md-2">
				<p class="text-muted mt-2"> © 2024 InfiniteGoods </p>
			</div>
			<div class="col-md-8 text-muted text-md-center mt-2">
				<span class="px-2">email@somthing.com</span>
				<span class="px-2">+123-456-789</span>
				<span class="px-2">Street name 123 </span>
			</div>
			<div class="col-md-2 text-muted text-md-right mt-2">
				<i class="fab fa-lg fa-cc-visa me-2"></i>
				<i class="fab fa-lg fa-cc-mastercard me-2"></i>
				<i class="fab fa-lg fa-cc-paypal"></i>
			</div>
    <!----------JS for bootstrap ---->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <!----------Custom js ----------->
    <script src="js/script.js"></script>
</body>
</html>