{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="section-content py-4">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title text-center">Order Confirmation</h2>
        
                            <div class="row">
                                <div class="col-md-6">
                                    <h5>Invoiced To</h5>
                                    <p>{{ order.full_name }}<br>
                                    {{ order.full_address }}<br>
                                    {{ order.city }}, {{ order.state }}<br>
                                    {{ order.country }}</p>
                                </div>
                                <div class="col-md-6">
                                    <h5>Order Details</h5>
                                    <p class="mb-0"><strong>Order: </strong> {{ order_number }}</p>
                                    <p class="mb-0"> <strong>Transaction: </strong> {{ payment_id }}</p> 
                                    <p class="mb-0"><strong>Order Date: </strong> {{ order.created_at }} </p>
                                    <p class="mb-0"><strong>Status: </strong> {{ payment.status }} </p>
                                </div>
                            </div>
        
                            <table class="table mt-4">
                                <thead>
                                    <tr>
                                        <th>Description</th>
                                        <th>Qty</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in ordered_products %}
                                    <tr>
                                        <td>
                                            {{ item.product.product_name }}
                                            <p class="text-muted small">
                                                {% if item.variations.all %}
                                                    {% for variation in item.variations.all %}
                                                        {{ variation.variation_category | capfirst }}: {{ variation.variation_value | capfirst }} <br>
                                                    {% endfor %}
                                                {% endif %}
                                            </p>
                                        </td>
                                        <td>{{ item.quantity }}</td>
                                        <td>${{ item.product_price }} USD</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="2"><strong>Sub Total:</strong></td>
                                        <td>${{total_products}} USD</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><strong>Tax:</strong></td>
                                        <td>${{ order.tax }} USD</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><strong>Discount:</strong></td>
                                        <td>$ {{order.discount}} USD</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><strong>Grand Total:</strong></td>
                                        <td>${{ order.total }} USD</td>
                                    </tr>
                                </tfoot>
                            </table>
        
                            <p class="text-center">Thank you for shopping with us!</p>
                            
                            <div class="text-center">
                                <a href="{% url 'shop' %}" class="btn btn-dark">Shop More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
    {% endblock %}