{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section class="section-content py-4">
    
    
    {% if request.GET.command == 'activation' %}

    <div class="container mx-auto alert alert-info text-center" role="alert" style="max-width:1024px; margin-top:100px;">
        Thanks for Registering ! An activation email has been sent to your email [{{ request.GET.email }}]. Simply click the link inside to activate your account.
    <br><br>
    Already activated? <a href="{% url 'login' %}">Login</a>
    </div>

    {% else %}
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        <h2 class="text-center mb-4">Login</h2>
                        {% include 'includes/alerts.html' %}
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
        
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
        
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-dark">Login</button>
                        </div>
                        <div class="mt-2 mb-3">
                            <a href="{% url 'forgotPass' %}" class="text-muted float-end">Forgot password?</a>
                        </div>
                        <p class="text-muted text-center mt-5">Don't have an account? <a href="{% url 'register' %}">Sign up from here</a></p> 
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    </section>
{% endblock %}